<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rhdigital.rhclient">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:usesCleartextTraffic="true"
        android:name=".RHApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_rh_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name="com.rhdigital.rhclient.activities.rhroom.RHRoomActivity"
          android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity android:name="com.rhdigital.rhclient.activities.rhauth.RHAuthActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.rhdigital.rhclient.activities.rhapp.RHAppActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

      <service android:name=".common.services.FirebasePushNotificationService"
        android:exported="false">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
      </service>

      <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="RHDigital_Notification_Channel" />

<!--      <provider-->
<!--        android:name=".common.providers.CustomFileProvider"-->
<!--        android:authorities="${applicationId}.provider"-->
<!--        android:exported="false"-->
<!--        android:grantUriPermissions="true">-->
<!--        <meta-data-->
<!--          android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--          android:resource="@xml/provider_paths"/>-->
<!--      </provider>-->

    </application>
</manifest>
